@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
    color: white;
    font-size: 5vw;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    gap: 2vw;
}

#reroll{
    padding: 1vw;
}

.players{
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.justify-center{
    justify-content: center;
    text-align: center;
}

#computerRollHistory,
#playerRollHistory{
    font-size: 2vw;
}

.vertical-flex{
    display: flex;
    flex-direction: column;
}

.horizontal-flex{
    display: flex;
    gap: 2vw;
}

.btn{
    text-align: center;
    background-color: green;
    width: 10vw;
    height: auto;
    border-radius: 1vw;
}

.btn:hover{
    transition: 1s;
    background-color: hotpink;
}